%h1.header Colleges

.buttons
  .spacer
  - if colleges.present?
    = link_to "Delete All", delete_all_colleges_path, method: :delete, class: "button"
  - else
    = link_to "Basic Import", basic_import_colleges_path, method: :post, class: "button"
    = link_to "Advanced Import", advanced_import_colleges_path, method: :post, class: "button"

.colleges
  %table
    %thead
      %tr
        %th OPE ID
        %th Name
        %th City
        %th State
        %th Inst URL
        %th NPC URL
        %th Unit ID
    %tbody
      - colleges.each do |college|
        %tr
          %td= college.ope_id
          %td= college.name
          %td= college.city
          %td= college.state
          %td= college.inst_url
          %td= college.npc_url
          %td= college.unit_id
